:root {
  --text: rgba(0, 0, 0, 0.8);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
}

/* 480px */
@media (min-width: 30rem) {
  html {
    font-size: 18px;
    line-height: 27px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: transparent url('../assets/bg-food.svg') center/30rem;
  color: var(--text);
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 1.9444444rem;
  font-weight: normal;
  line-height: 3rem;
  letter-spacing: -0.0625rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5555556rem;
  font-weight: normal;
  line-height: 3rem;
  letter-spacing: -0.03125rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

a {
  color: inherit;
}

/* 560px */
.container {
  padding: 3rem 1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 35rem;
}

.holding {
  border-radius: 0.75rem;
  background-color: #FFF;
  box-shadow: 0.25rem 0.25rem 1rem 0 rgba(0,0,0,0.25);
  padding: 1.5rem;
}

/* 480px */
@media (min-width: 30rem) {
  .holding {
    display: flex;
    align-items: flex-start;
  }
}

/* 64px */
.holding__avatar {
  border-radius: 0.75rem;
  max-width: 4rem;
  margin-right: 1.5rem;
}

/* 96px */
@media (min-width: 30rem) {
  .holding__avatar {
    max-width: 6rem;
  }
}

.nav-list {
  padding-left: 0;
  list-style: none;
  margin-left: -0.5rem;
}
  .nav-list li {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .nav-list a {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

.nav-list--inline {
  display: flex;
  flex-wrap: wrap;
}
