{% set css %}
  {% include "../../../../node_modules/normalize.css/normalize.css" %}
  {% include "css/holding.css" %}
{% endset %}

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap" rel="stylesheet">
    <style>{{ css | cssmin | safe }}</style>
  </head>
  <body>
    <div class="page">
      {{ content | safe }}
    </div>
  </body>
</html>
