<footer class="container mx-auto">
  <div class="py-8 px-4">
    <ul class="flex flex-wrap mb-4">
      <li class="mr-4">
        <a class="block" href="mailto:elise@thedailydietitian.co.uk">elise@thedailydietitian.co.uk</a>
      </li>
      <li class="mr-4">
        <a class="block" href="https://www.linkedin.com/in/thedailydietitian/">LinkedIn</a>
      </li>
    </ul>
    <small>&copy;
      {{ site.year }}
      The Daily Dietitian.</small>
  </div>
</footer>
