<footer class="">
  <ul class="">
    <li><a href="mailto:elise@thedailydietitian.co.uk">elise@thedailydietitian.co.uk</a></li>
    <li><a href="https://www.linkedin.com/in/thedailydietitian/">LinkedIn</a></li>
  </ul>
  <p><small>&copy; {{ page.date.getFullYear() }} The Daily Dietitian.</small></p>
</footer>
