---
layout: "base"
title: "The Daily Dietitian – Recipes"
description: "Recipes by The Daily Dietitian."
---
<main class="container">
  <h1>Recipes</h1>
  <ul>
    {% for recipe in recipes %}
      <li>{{recipe.name}}</li>
    {% endfor %}
  </ul>
</main>
