---
layout: "holding"
title: "The Daily Dietitian — About"
description: "About The Daily Dietitian."
---
<main class="container">
  <div class="holding">
    <section>
      <img class="avatar" src="../assets/headshot.jpg" alt="" />
      <h1>Elise Kelly</h1>
      <h2>The Daily Dietitian</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel sem lorem. Mauris elementum gravida sapien, et varius justo sollicitudin et. Aenean tellus sem, porttitor ac porta vel, placerat id odio. Morbi facilisis nibh vitae consequat condimentum. Quisque at elementum ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu metus aliquam, rutrum nibh quis, semper dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent id erat sit amet erat vulputate placerat. Nullam eu enim a ligula facilisis elementum id in tortor. Maecenas molestie metus id tellus pretium cursus.</p>
    </section>
    <section>
      <ul class="nav-list nav-list--inline">
        <li><a href="mailto:elise@thedailydietitian.co.uk">elise@thedailydietitian.co.uk</a></li>
        <li><a href="https://www.linkedin.com/in/thedailydietitian/">LinkedIn</a></li>
      </ul>
    </section>
  </div>
</main>
