---
layout: "holding"
title: "The Daily Dietitian — About"
description: "About The Daily Dietitian."
---
<main class="container">
  <h1 class="greeting">The Daily Dietitian</h1>
  <p class="introduction beta">Add variety to your diet with easy recipes from London-based Dietitian, Elise Kelly.</p>
</main>
