---
layout: "holding"
title: "The Daily Dietitian — About"
description: "About The Daily Dietitian."
---
<main class="container">
  <div class="holding">
      <img class="holding__avatar" src="../assets/headshot.jpg" alt="" />
      <div class="holding__body">
        <h1>Elise Kelly</h1>
        <h2>The Daily Dietitian</h2>
        <p>I want to help you cook easy and balanced meals that cater for your dietary restrictions.</p>
        <p>I’m currently working on a catalogue of tasty recipes that I can't wait to share with you.</p>
        <ul class="nav-list nav-list--inline">
          <li><a href="mailto:elise@thedailydietitian.co.uk">elise@thedailydietitian.co.uk</a></li>
          <li><a href="https://www.linkedin.com/in/thedailydietitian/">LinkedIn</a></li>
        </ul>
      </div>
  </div>
</main>
