---
layout: "base"
permalink: "index.html"
---
<main class="container">
  <h1 class="greeting">Balanced meals for busy people</h1>
  <p class="introduction beta">Recipes by London&#8209;based Registered Dietitian, Elise Kelly.</p>
</main>
