---
layout: "base"
permalink: "index.html"
---
<main class="container">
  <h1 class="greeting">Quick and balanced meals for everyone</h1>
  <p class="introduction beta">Add variety to your diet with easy recipes from London-based Dietitian, Elise Kelly.</p>
</main>
