---
layout: "base"
permalink: "index.html"
---
<main class="container">
  <h1 class="greeting">Welcome to The Daily Dietitian</h1>
  <p class="introduction beta">Founded by London&#8209;based <abbr title="National Health Service">NHS</abbr> Dietitian, Elise Kelly.</p>

  <div class="section">
    <h2>Contact</h2>
    <a href="mailto:elise@thedailydietitian.co.uk">elise@thedailydietitian.co.uk</a>
  </div>

  <div class="section">
    <h2 class="elsewhere">Elsewhere</h2>
    <ul class="nav-list nav-list--inline">
      <li>
        <a href="https://www.linkedin.com/in/thedailydietitian/">LinkedIn</a>
      </li>
    </ul>
  </div>
</main>
